<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Daily Routine Tracker web app for managing daily activities and expenses." />
  <meta name="theme-color" content="#ffffff" />

  <title>Daily Routine Tracker</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/registration.css" />
  <link rel="stylesheet" href="/home.css" />
  <link rel="stylesheet" href="/login.css" />
  <link rel="stylesheet" href="/activity.css" />
  <link rel="stylesheet" href="/updateActivity.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Main content area with landmark for screen readers -->
  <main id="mainContent" role="main" tabindex="-1">
    {{{body}}}
  </main>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
