
<div class="container-activity">
    <div class="row">
        <div class="col-sm-3 flex-column">
            <nav class="nav flex-column">
            <a href="#"><img src="images/Logo DRT.jpg" alt="Logo" href="index.handlebars"></a>
            <a class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-500 flex justify-center items-center"
 style="font-size:25px"href="http://localhost:3000/home">Home</a>
            <a class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-500 flex justify-center items-center"
" style="font-size:25px"href="http://localhost:3000/activityTracker">Activity Tracker</a>
            <a class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-500 flex justify-center items-center"
" style="font-size:25px"href="/addExpense">Money Tracker</a>
            <a class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-500 flex justify-center items-center"
" style="font-size:25px"href="">Dashboard</a>
            <a class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-500 flex justify-center items-center"
" style="font-size:25px"href="">Profile</a>
          
        </div>
  <div class="bg-white rounded-2xl shadow-xl p-6 max-w-2xl w-full">
    <div class="flex justify-between items-center mb-4">
    <h1 class="text-xl font-bold ">Record Expense</h1>
    
    </div>

    <form action="/addExpense" method="POST"  >
      
      <div class="mb-4">
        <label class="font-medium">Amount Spent</label>
        <input type="number" name="amount" class="border mt-2 w-full p-2 rounded" placeholder="$">
        
      </div>

      <div class="mb-4">
        <label class="font-medium">Category</label>
        <select name="category" class="border w-full p-2 mt-2 rounded">
          <option>Food</option>
          <option>Transport</option>
          <option>Housing</option>
          <option>Utilities</option>
          <option>Entertainment</option>
          <option>Travel</option>
          <option>Shopping</option>
        </select>
        
      </div>

      <div class="mb-4">
        <label class="font-medium">Due Date</label>
        <input type="date" id="dueDate" class="border mt-2 w-full p-2 rounded" name="dueDate" required><br>
      </div>

      <div class="mb-4">
        <label class="font-medium">Paid date</label>
        <input type="date" id="paidDate" class="border mt-2 w-full p-2 rounded" name="paidDate" ><br>
      </div>

      <div class="mb-4">
        <label class="font-medium">Payment status</label>
        <select name="status" class="border w-full p-2 mt-2 rounded">
          <option>Planned</option>
          <option>Due</option>
          <option>Paid</option>
          <option>Partialy paid</option>
          <option>Overdue</option>
          <option>Cancelled</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="font-medium">Paid With</label>
        <select name="paymentMethod" class="border w-full p-2 mt-2 rounded">
          <option>Cash</option>
          <option>Credit Card</option>
          <option>Debit Card</option>
          <option>Bank Transfer</option>
          <option>Digital Wallet</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="font-medium">Notes (Optional)</label>
        <textarea name="notes" class="border w-full p-2 mt-2 rounded" placeholder="E.g. Lunch at Joe’s Diner"></textarea>
      </div>

      <div class="mb-4">
        <label class="font-medium">Upload Receipt (Optional)</label>
        <input type="file" name="receipt" class="block mt-2">
      </div>

      

      <button type="submit" class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-700">Save Expense</button>

    </form>

  </div>

  
