
<div class="container-activityNew">
  <!-- Sidebar -->
  <nav id="sidebar" class="">
    <div class="sidebar-header p-3">
      <img src="/images/Logo DRT.jpg" alt="Logo" class="logo-img mb-2">
      <h4>Daily Routing Tracker</h4>
    </div>
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#activityMenu" role="button">
          Activity Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="activityMenu">
          <li><a class="nav-link" href="/activity">Activity Log</a></li>
          <li><a class="nav-link" href="/updateActivity">Activity Update</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#expenseMenu" role="button">
          Expense Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="expenseMenu">
          <li><a class="nav-link" href="/addExpense">Expense Log</a></li>
          <li><a class="nav-link" href="/viewExpense">Expense Update</a></li>
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#dashboardMenu" role="button">
          Dashboard
        </a>
        <ul class="collapse list-unstyled ps-3" id="dashboardMenu">
          <li><a class="nav-link" href="/activityDashboard">Activity Dashboard</a></li>
          <li><a class="nav-link" href="/expenseDashboard">Expense Dashboard</a></li>
        </ul>
      </li>

      <li class="nav-item mt-3">
        <span class="nav-link">Hello!! {{user.userName}}</span>
        <a href="/logout" class="btn btn-sm btn-outline-light mt-2">Logout</a>
      </li>

    </ul>
  </nav>
  

  <!-- Main Content -->
  <main class="flex-grow-1 pt-0 pr-8 pb-8 pl-8">
  <div class="bg-white rounded-2xl shadow-xl p-6 max-w-2xl w-full">
    <div class="flex justify-between items-center mb-4">
    <h1 class="text-4xl font-bold">Record Expense</h1>
        </div>

    <form action="/addExpense" method="POST"  >
      
      <div class="mb-4">
        <label class="font-medium">Amount Spent</label>
        <input type="number" name="amount" class="border mt-2 w-full p-2 rounded" placeholder="$">
        
      </div>

      <div class="mb-4">
        <label class="font-medium">Category</label>
        <select name="category" class="border w-full p-2 mt-2 rounded">
          <option>Food</option>
          <option>Transport</option>
          <option>Housing</option>
          <option>Utilities</option>
          <option>Entertainment</option>
          <option>Travel</option>
          <option>Shopping</option>
        </select>
        
      </div>

      <div class="mb-4">
        <label class="font-medium">Due Date</label>
        <input type="date" id="dueDate" class="border mt-2 w-full p-2 rounded" name="dueDate" required><br>
      </div>

      <div class="mb-4">
        <label class="font-medium">Paid date</label>
        <input type="date" id="paidDate" class="border mt-2 w-full p-2 rounded" name="paidDate" ><br>
      </div>

      <div class="mb-4">
        <label class="font-medium">Payment status</label>
        <select name="status" class="border w-full p-2 mt-2 rounded">
          <option>Planned</option>
          <option>Due</option>
          <option>Paid</option>
          <option>Partialy paid</option>
          <option>Overdue</option>
          <option>Cancelled</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="font-medium">Paid With</label>
        <select name="paymentMethod" class="border w-full p-2 mt-2 rounded">
          <option>Cash</option>
          <option>Credit Card</option>
          <option>Debit Card</option>
          <option>Bank Transfer</option>
          <option>Digital Wallet</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="font-medium">Notes (Optional)</label>
        <textarea name="notes" class="border w-full p-2 mt-2 rounded" placeholder="E.g. Lunch at Joe’s Diner"></textarea>
      </div>

      <div class="mb-4">
        <label class="font-medium">Upload Receipt (Optional)</label>
        <input type="file" name="receipt" class="block mt-2">
      </div>

      

      <button type="submit" class="bg-green-600 text-white w-full py-2 rounded-lg hover:bg-green-700">Save Expense</button>

    </form>
  </main>
  </div>

  
