body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .bg-light-custom {
    background-color: #b8fef0;
  }
  
  .logo {
    width: 149px;
    height: 149px;
    object-fit: cover;
  }
  
  h1 {
    font-size: 28px;
  }

  .activity-title
  {
    text-align: center;
  }

  .container-activity
  {
    background-color: #b8fef0;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .activityHeader
  {
    background-color: #088341;
  }

  .btn-primary
  {
    background-color: #9ec1bc;
  }
  .containerSaveActivity
  {
    background-color: rgb(115, 135, 135);
    border-radius: 40px ;
  }

  .containerSaveActivityCategory
  {
    background-color: rgb(207, 202, 172);
  }